@font-face {
    font-family: 'Free Sans';
    font-style: normal;
    font-weight: normal;
    src: local('FreeSans'), url('https://deccl.s3.ap-northeast-2.amazonaws.com/fonts/free-sans/FreeSans.woff') format('woff');
}
@font-face {
    font-family: 'Free Sans';
    font-style: oblique;
    font-weight: normal;
    src: local('FreeSans'), url('https://deccl.s3.ap-northeast-2.amazonaws.com/fonts/free-sans/FreeSansOblique.woff') format('woff');
}
@font-face {
    font-family: 'Free Sans';
    font-style: normal;
    font-weight: bold;
    src: local('FreeSans Bold'), url('https://deccl.s3.ap-northeast-2.amazonaws.com/fonts/free-sans/FreeSansBold.woff') format('woff');
}
@font-face {
    font-family: 'Free Sans';
    font-style: oblique;
    font-weight: bold;
    src: local('FreeSans Bold'), url('https://deccl.s3.ap-northeast-2.amazonaws.com/fonts/free-sans/FreeSansBoldOblique.woff') format('woff');
}