@import '~bootstrap/scss/bootstrap.scss';
@import '~summernote/dist/summernote-bs4.css';

body {
    background-color: var(--light);
    font-family: 'Free Sans', 'Noto Sans KR', sans-serif;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight: bold;
    letter-spacing: -0.05rem;
}

.input-group-stacked {
    border-radius: 0;
}
.input-group-stacked:first-of-type {
    border-top-left-radius: $input-border-radius;
    border-top-right-radius: $input-border-radius;
}
.input-group-stacked:last-of-type {
    border-bottom-left-radius: $input-border-radius;
    border-bottom-right-radius: $input-border-radius;
}
.masonry {
    @include media-breakpoint-up(md) {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
    @include media-breakpoint-up(lg) {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
    }
    // @include media-breakpoint-up(xl) {
    //     -webkit-column-count: 4;
    //     -moz-column-count: 4;
    //     column-count: 4;
    // }
    // @include media-breakpoint-up(xl) {
    //     -webkit-column-count: 5;
    //     -moz-column-count: 5;
    //     column-count: 5;
    // }
    -webkit-column-gap: 1em;
    -moz-column-gap: 1em;
    column-gap: 1em;
    // margin: 1.5em;
    // padding: 0;
}
.masonry-item {
    // display: inline-block;
    break-inside: avoid-column;
    -webkit-break-inside: avoid-column;
}

.deccl {
    position: relative;
}
.deccl-article {
    position: relative;
    margin-right: 1rem;
}
.deccl-article h6 {
    font-size: 87.5%;
    color: $gray-700;
}
.card-image-thumbnail {
    max-height: 8em;
    overflow-y: hidden;
}
.deccl-comment {
    position: relative;
    margin-left: 1rem;
    margin-top: 1rem;
    top: -1.75rem;
}
.deccl-comment p {
    margin-bottom: 0.25rem;
}
@include media-breakpoint-up(sm) {
    .deccl-full .deccl-article {
        margin-top: 0.75rem;
        margin-right: 0;
    }
    .deccl-full .deccl-comment {
        top: 0;
        margin-top: 0;
        margin-left: -2.75rem;
        margin-bottom: 1rem;
    }
}
.form-reaction .form-check {
    margin-right: 0.25em;
    margin-bottom: 0.25em;
}
.form-reaction input.form-check-input[type=radio] {
    display: none;
}
.form-reaction .form-check-label {
    @extend .rounded;
    @extend .border;
    cursor: pointer;
    padding: 0.25em;
}
.form-reaction .form-check-input:checked + .form-check-label {
    @extend .border-primary;
    @extend .bg-primary;
}

body > nav.navbar + div.d-flex.h-100 {
    margin-top: -56px;
}
#home-deccl {
    margin-bottom: -1rem;
}
#home-deccl h4 {
    font-size: 1.125rem;
}
#create-comment-container {
    position: fixed;
    right: 1em;
    bottom: 1em;
}